<?xml version="1.0" encoding="UTF-8"?>
<beans>

    <bean id="userDao" class="cuit.pymjl.entity.entity.UserDao"/>

    <bean id="userService" class="cuit.pymjl.entity.UserService">
        <property name="id" value="6"/>
        <property name="company" value="腾讯"/>
        <property name="address" value="深圳"/>
        <property name="userDao" ref="userDao"/>
    </bean>

    <bean class="cuit.pymjl.common.MyBeanFactoryPostProcessor"/>
    <bean class="cuit.pymjl.common.MyBeanPostProcessor"/>

</beans>